<form class="{{cssClass}}" autocomplete="off">
    <header class="actor-sheet-header-block">
        {{> "systems/ikrpg/templates/sheets/actor/partials/character-header-block.hbs"}}
    </header>
    <div class="actor-sheet-body">
        <div class="actor-sheet-stat-block">
            {{> "systems/ikrpg/templates/sheets/actor/partials/character-stat-block.hbs"}}
        </div>
        <div class="actor-sheet-skill-block">
            {{> "systems/ikrpg/templates/sheets/actor/partials/character-skill-block.hbs"}}
        </div>
    </div>
</form>