<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
        </div>
    </header>
    <div>
        <table>
            <tr>
                <th>Military Skill</th>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>
</form>